* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
}

header {
    background-color: rgb(0, 0, 0);
    height: 10%;
    display: flex;
    align-items: center;
}

/* header h1 {
    color: white;
    letter-spacing: 4px;
    margin-left: 10px;
} */

header nav {
    height: 100%;
    width: 98%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 60px;
}

header nav a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    transition: 0.3s
}

header nav a:hover {
    padding: 5px;
    background-color: rgb(190, 190, 187);
    color: black;
    border-radius: 8px;
    letter-spacing: 2px;
}

main {
    background-color: rgb(190, 190, 187);
    min-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    width: 1200px;
    max-width: 90%;
    gap: 80px;
    background-color: rgb(0, 0, 0);
    height: 450px;
    max-height: 80%;
    border-radius: 20px;
    font-size: 20px;
    color: white;
}

.about img {
    max-width: 350px;
    border-radius: 100%;
}

.about-project {
    display: flex;
    align-items: center;
    gap: 50px;
    color: white;
    background-color: black;
    width: 800px;
    max-width: 90%;
    height: 400px;
    padding: 50px;
    border-radius: 20px;
    font-size: 20px;
}

.about-project img {
    width: 460px;
    height: 200px;
    border-radius: 20px;
}

.thanks {
    display: flex;
    align-items: center;
    gap: 50px;
    color: white;
    background: black;
    width: 800px;
    max-width: 90%;
    height: 400px;
    padding: 50px;
    font-size: 20px;
    border-radius: 20px;
}

.thanks img {
    width: 300px;
    border-radius: 20px;
}

footer {
    background-color: rgb(0, 0, 0);
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer p {
    color: white;
    font-weight: bold;
}

footer img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1170px) {
    .about {
        display: flex;
        flex-direction: column;
        height: 500px;
        font-size: 18px;
        gap: 20px;
    }

    .about img {
        width: 250px
    }
}

@media screen and (max-width: 970px) {
    .about {
        font-size: 15px;
    }

    .about img {
        width: 200px
    }
}

@media screen and (max-width: 630px) {
    .about {
        padding: 50px !important;
        max-height: 10%
    }

    .about img {
        width: 200px
    }
}